@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

.altura{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: #333;
    color: #fff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
    font-family: "Galindo", fantasy;
    font-size: 0.9em;
    background-color: yellow;
    overflow: auto;
}

#initial-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 20%;
    width: 100%;
}

.title h1 {
    width: 100%;
    text-align: center;
    font-size: 5em;
    color: blue;
}

.start {
    margin-top: 50px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #fff;
    align-content: center;
    transition: background-color .5s ease-out;
    cursor: pointer;
}

.start:hover {
    background-color: #ddd;
    transform: translateY(-3px);
}

.c-quantity {
    margin-top: 2em;
    max-height: 5rem;
    height: 5rem;
    display: none;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    gap: 10px;
}

.c-quantity h3 {
    font-size: 1em;
}

.options {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.options button {
    flex-basis: 25%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 2em;
    background-color: cyan;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}
.options button:hover{
    background-color: #0ffa;
}

.options button[selected="true"] {
    background-color: #0ffa;
}

#game-screen{
    display: none;
}

#game-screen.open {
    display: flex;
    flex-direction: column;
}

.question-card{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 0.5em;
    background-color: #ddd;
    z-index: 3;
    transition: top 0.5s ease-in-out;
}

.appear{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.sentence {
    font-size: clamp(1em, 1.5em, 2em);;
    text-align: left;
    max-height: 40%;
    overflow: auto;
}

#answer-form {
    display: flex;
    flex-direction: column;
}

#answer-area{
    margin: 2em auto;
    border: 2px solid black;
    width: 100%;
    font-size: 1em;
}

.article-help{
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    padding: 0.5em;
    border: 5px solid black;
    background-color: #ddd;
    overflow-y: auto;
    transition: left 0.5s linear;
}

.article-help.open{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-help > .rule-explanation{
    height: auto;
    padding: 0.5em;
}

.rule-explanation h2{
    margin-bottom: 1em;
    font-size: 2rem;
}

.rule-explanation p{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.rule-explanation ul {
    list-style: disc inside;
    padding-left: 1.5rem; 
    margin-bottom: 1rem;   
}

.rule-explanation ul li {
    margin-bottom: 0.5rem; 
    line-height: 1.6;    
}
.rule-explanation ul li h3 {
    display: inline;
    font-size: 1.1em;     
    color: #333;           
    margin-top: 0.8rem;    
    margin-bottom: 0.3rem;
}
.rule-explanation ul li p {
    font-size: 0.95em;
    color: #555;
}

.rule-explanation ul li math {
    font-size: 1.5em; 
    font-weight: bold;
    line-height: 1.6;
}

.rule-explanation ul li math mrow {
    display: inline-block; 
}

.article-help button{
    position: fixed;
    width: 2em;
    height: 2em;
    left: 100%;
    border: 2px solid black;
    background-color: #999;
    transform: translate(-150%);
    transition: background-color 0.5s ease;
}
.article-help button:hover{
    background-color: red;
}

.check {
    margin: 0 auto;
    font-size: clamp(1em, 1.5em, 2em);
    width: clamp(200px, 20%, 80%);
    flex: 1 1;
    background-color: rgba(200, 200, 200, 1);
}
.check:active{
    background-color: rgba(150, 150, 150, 1);
}

.feedback {
    font-size: clamp(1em, 1.3em, 1.5em);
    text-align: center;
    margin-top: 1em;
}
.correct{
    color: green;
    font-weight: bold;
}
.incorrect{
    color: red;
    font-weight: bold;
}

.dark-cell-choice{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(400px, 80%);
    height: 75%;
    border: 5px solid black;
    padding: 0.5em;
    background-color: #ddd;
    z-index: 3;
    transition: top 1s ease-in-out;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.dark-cell-choice.appear{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark-cell-choice p{
    font-size: clamp(1em, 2em, 3em);
    font-weight: bold;
    color: Black;
    text-shadow: 2px 2px 4px white;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.flip-card{
    perspective: 1000px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card-inner.flipped{
    transform: rotateY(-180deg);
}

.back{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: rotateY(-180deg);
}

.special-card.back h3{
    width: 100%;
    text-align: center;
    font-size: clamp(1em, 1.5em, 2em);
    color: red;
}

.flipping{
    animation: flipper 2s linear;
}

.special-card{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.special-card img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
    border: 2px solid black;
}

.special-card .ball{
    position: absolute;
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.special-card .b1{
    top: 10%;
    right: 10%;
}

.special-card .b2{
    bottom: 10%;
    left: 10%;
}

.flip-card:nth-child(1) .ball{
    background-color: red;
}

.flip-card:nth-child(2) .ball{
    background-color: yellow;
}

.flip-card:nth-child(3) .ball{
    background-color: blue;
}

.flip-card:nth-child(4) .ball{
    background-color: green;
}

.advice {
    flex-basis: 10%;
    font-size: 1.5em;
    text-align: left;
    padding: 0.5em;
}

.board-container{
    max-height: 75%;
    flex: 1 1;
    border: 2px solid black;
    overflow-y: auto;
}

.board {
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 0.5em;
}

.board .cell {
    position: relative;
    overflow: hidden;
    background-color: aqua;
    border: 2px solid black;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.board .dark-cell{
    background-color: rgb(0, 100, 100);
}

.span-number,
.span-ceu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.cell .player-icon {
    z-index: 2;
    flex-basis: 25%;
    height: auto;
}

.player-icon svg {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
}

.wrapper {
    flex-basis: 5%;
    position: relative;
    margin: 0.5em 0;
    overflow: hidden;
}

.dice {
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    position: relative;
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    background-size: auto 100%;
    overflow: hidden;
    cursor: pointer;
}

.sprite-dice {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 100%);
    grid-template-columns: repeat(4, 100%);
    grid-template-areas:
        '. . . dn'
        '. d4 d5 d6'
        'd2 d3 . .'
        'd1 . . .';
    top: -300%;
    left: 0;
}

.rolling {
    animation: rollDice 1.5s linear infinite;
}

.dice-img {
    width: 100%;
    height: 100%;
}

.dice-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.help {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.player-group {
    max-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.player-group .player-icons {
    flex: 1 1;
    text-align: center;
    align-content: center;
    border: 2px solid black;
}

.player-icons .number-player {
    display: block;
    width: 75%;
    height: 75%;
    margin: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px dashed black;
    align-content: center;
    font-size: 2em;
}

#player-1 {
    background-color: rgba(255, 100, 100, 1);
    --player-color-light: rgba(255, 0, 0, 1);
}

#player-2 {
    background-color: rgba(100, 255, 100, 1);
    --player-color-light: rgba(0, 255, 0, 1);
}

#player-3 {
    background-color: rgba(100, 100, 255, 1);
    --player-color-light: rgba(0, 0, 255, 1);
}

#player-4 {
    background-color: rgba(255, 165, 100, 1);
    --player-color-light: rgba(255, 115, 0, 1);
}

#player-1.winner,
#player-2.winner,
#player-3.winner,
#player-4.winner {
    background-color: var(--player-color-light);
}

#player-1.disabled,
#player-2.disabled,
#player-3.disabled,
#player-4.disabled {
    background-color: rgba(150, 150, 150, 1);
    --player-color-light: rgba(150, 150, 150, 1)
}

.blinking {
    animation: blink 0.5s infinite alternate;
}

@keyframes rollDice {
    0% {
        top: -300%;
        /* Corresponde a -180px se 100% = 60px */
        left: 0;
    }

    16.66% {
        top: -200%;
        /* Corresponde a -120px */
        left: 0;
    }

    33.33% {
        top: -200%;
        /* Corresponde a -120px */
        left: -100%;
        /* Corresponde a -60px */
    }

    50% {
        top: -100%;
        /* Corresponde a -60px */
        left: -100%;
        /* Corresponde a -60px */
    }

    66.66% {
        top: -100%;
        /* Corresponde a -60px */
        left: -200%;
        /* Corresponde a -120px */
    }

    83.33% {
        top: -100%;
        /* Corresponde a -60px */
        left: -300%;
        /* Corresponde a -180px */
    }

    100% {
        top: 0;
        left: -300%;
        /* Corresponde a -180px */
    }
}

@keyframes blink {
    0% {
        filter: brightness(100%);
    }

    50% {
        background-color: var(--player-color-light);
        filter: brightness(180%);
    }

    100% {
        filter: brightness(100%);
    }
}

@keyframes flipper {
    25%{
        transform: rotateY(-180deg);
    }
    50%{
        transform: rotateY(-360deg);
    }
    75%{
        transform: rotateY(-540deg);
    }
    100%{
        transform: rotateY(-720deg);
    }
}
